<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Together</title>
    <link rel="stylesheet" href="/stylesheet/styleForm.css">
     <link rel="stylesheet" href="/stylesheet/styleMOB_Form.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="/javascript/animation.js"></script>
</head>
<body>
    <div class="formDiv">
        <button class="backBtn" onclick="window.location.href='/'">Back</button>
        <p id="p1">RollCameraEdit</p>
        <p id="p2">Let's Build Together</p>
    </div>
    <div class="connectionForm">
        <form name="submit-to-google-sheet">
            <div class="basicInfo">
                <div class="banner">
                    <p id="p3">We'd Love to Work with You!</p>
                </div>
                <span><p>Basic Info</p></span>
                <div id="binfo">
                    <input type="text" class="info" name="Name" placeholder="Full Name">
                    <input type="email" class="info" name="Email" placeholder="Email Address">
                    <input type="tel" class="info" name="PhoneNo" placeholder="Phone Number">
                    <input type="text" class="info" name="Company" placeholder="Company/Brand Name (Optional)">
                </div>
            </div>
            <div class="ProjectorServiceRequirements">
                <p>Project or Service Requirements</p>
                <input type="text" class="info" name="Services" placeholder="What services do you need?">
                <input class="info" name="Goals" placeholder="Describe your project goals or objectives.">
                <input type="text" class="info" name="Deadline" placeholder="Do you have a specific deadline?">
                <input type="text" class="info" name="Budget" placeholder="Do you have a budget range for this project?">
            </div>
            <div class="BrandInformation">
                <p>Brand Information</p>
                <input type="text" class="info" name="BrandIdentity" placeholder="Do you have an established brand identity? (Yes/No)">
                <input type="text" class="info" name="TargetAudience" placeholder="Describe your target audience. (Age, interests, location, etc.)">
            </div>
            <div class="ExistingAssets">
                <p>Existing Assets</p>
                <input type="text" class="info" name="Assets" placeholder="Do you already have digital assets? (Provide links.)">
                <input type="text" class="info" name="Content" placeholder="Do you have any content we should use? (Provide Drive Link)">
            </div>
            <div class="ConsentandAgreement">
                <p>Consent and Agreement</p>
                <input type="text" class="info" name="Terms" placeholder="Do you agree to our terms and conditions? (Yes/No)">
                <input type="text" class="info" name="PortfolioConsent" placeholder="Do you consent to us using your project in our portfolio? (Yes/No)">
            </div>
            <!-- <div id="captcha" class="g-recaptcha" data-sitekey="6LdJ9qMqAAAAAAAPI33dSK6tChKPk5cpXYmnIe3n"></div> -->
            <input type="submit" name="submit" id="button" value="Connect With Us">
        </form>
    </div>

    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbz7IVUwIV2VhoJhtnjJYC4I8iLQIotHmLOVncVJ23vK8aEfvvwCe8W9gHW1_T9aoOCd/exec';
        const form = document.forms['submit-to-google-sheet'];

        form.addEventListener('submit', (e) => {
            e.preventDefault();
            
            fetch(scriptURL, { method: 'POST', body: new FormData(form) })
                .then((response) => alert("Success! Your response has been submitted."),
            )
                .catch((error) => alert("Error! Please try again later."));
        });
    </script>
</body>
</html>
